/* Body Styles */
body {
    font-family: 'Star Jedi', sans-serif;
    background: url('../images/baby\ yoda.jpeg') no-repeat center/cover;
    height: 50vh;
    background-attachment: fixed;
    color: rgb(8,0,0);
}
/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}

/* Button Styles */
.btn-group label.btn {
    background-color: black; 
    border-color: #060000;
    color: yellow; 
}

.btn-group label.btn.active {
    background-color: #ffe81f; 
    color: black; 
}

#searchButton {
    background-color: black; 
    color: yellow; 
    border: 1px solid black;
}

label input {
    padding-left: 4px;
    padding-right: 4px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    /* Additional styles for smaller screens if needed */
    #buttons {
        flex-direction: column;
    }
}

/* Media query for even smaller screens */
@media (max-width: 576px) {
    body {
        font-size: 12px;
    }

    /* Additional styles for even smaller screens if needed */
    #header {
        font-size: 1.5em;
    }
}






 




